</div>

<footer class="footer">

<div class="container text-center">

<hr>

<p>

© <%= new Date().getFullYear() %> DKM Crystal

</p>

</div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


<script>
console.log("BOOTSTRAP LOADED");
console.log(window.bootstrap);
</script>
</body>

</html>