<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">

<div class="container-fluid">

<a class="navbar-brand fw-bold" href="/dashboard">
🕌 DKM Crystal
</a>

<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="/dashboard">
Dashboard
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/transaksi">
Transaksi
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/aset">
Inventaris
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/laporan">
Laporan
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/rekening">
Rekening
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/kategori">
Kategori
</a>
</li>

<li class="nav-item">
<a
class="nav-link text-warning"
target="_blank"
href="https://drive.google.com/">

Laporan Lama

</a>
</li>

<!-- DROPDOWN ADMIN -->

<li class="nav-item dropdown">

<a
class="nav-link dropdown-toggle"
href="#"
id="adminDropdown"
role="button"
data-bs-toggle="dropdown"
aria-expanded="false">

<i class="fa-solid fa-user-shield"></i>
Admin

</a>

<ul class="dropdown-menu dropdown-menu-end">

<li>

<a
class="dropdown-item"
href="/auth/ubah-password">

<i class="fa-solid fa-key"></i>

Ubah Password

</a>

</li>

<li><hr class="dropdown-divider"></li>

<li>

<a
class="dropdown-item text-danger"
href="/login/logout">

<i class="fa-solid fa-right-from-bracket"></i>

Logout

</a>

</li>

</ul>

</li>

</ul>

</div>

</div>

</nav>

<div class="container mt-4">